.aform.horizontal .form-control {
    display: inline;
    width: auto;
}
.aform td .form-group {
    margin-bottom: 0;
}
.aform td.json-form-rowNumber , .aform td.json-form-actionCell {
    vertical-align: middle;
    text-align: center;
}
.aform div .json-form-fdset{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px dotted#e0e0e0;
}
/*展开的状态*/
.aform label.json-form-ctrl-un-collapse{
    padding-right: 20px;
    background: url("../bower_components/aform/img/arrow_collapsed.png") no-repeat right center;
}
/*折叠的状态*/
.aform label.json-form-ctrl-collapse{
    padding-right: 20px;
    background: url("../bower_components/aform/img/arrow_expanded.png") no-repeat right center;
}
.aform table caption label.json-form-collapser {
    font-size: 14px;
    color: #333;
}
.aform fieldset legend label {
    font-size: 14px;
}
.aform .json-form-element {
    position: relative;
}
.aform .json-form-element .section-toolbar {
    position: absolute;
    right: 0px;
    top:3px;
}
.aform .json-form-element .section-toolbar a {
    color:#e8e8e8;
    padding-left: 5px;
}
.aform .json-form-element .section-toolbar a:hover {
    color:#333333;
}

.aform a:hover {
    text-decoration: none;
}